header {
  background: black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  top: 0;
  width: 100%;
}
.headertext {
  color: white;
  padding: 40px, 40px;
  margin-left: 9%;
  margin-right: 9%;
  font-family: 'Sen', sans-serif;
  font-size: 18px;
  text-decoration: underline;
}
.main1 {
  display: flex;
    }
.main2 {
  display: flex;
    }
.main3 {
  display: flex;
    }
.main4 {
  display: flex;
    }
h1 {
  font-family: 'Abril Fatface',#222;
  font-size: 25px;
   
}
name {
  font-size: 34px;
}
p {
  font-family: 'Josefin Sans', sans-serif;
}
h2 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
}
blockquote p {
    padding: 15px;
    background: grey;
    color: white;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat',       sans-serif;
    position: left;
    flex-grow: 2;
  text-align: center;
}

blockquote p::before {
    content: '\201C';
}
.Anakin {
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
  }
img {
  width: 50%;
  height: 50%;
  }

div {
  width: 50%;
  margin-left: 70px;
}
h1 {
  width: 50%;
  margin-left: 70px;
}
aside {
  flex-grow: 2;
}